/* Poppins */
@font-face {
  font-weight: 600;
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBold.eot");
  src: url("../font/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../font/Poppins-SemiBold.woff2") format("woff2"),
    url("../font/Poppins-SemiBold.woff") format("woff"),
    url("../font/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "Poppins";
  src: url("../font/Poppins-Medium.eot");
  src: url("../font/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/Poppins-Medium.woff2") format("woff2"),
    url("../font/Poppins-Medium.woff") format("woff"),
    url("../font/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.eot");
  src: url("../font/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Poppins-Regular.woff2") format("woff2"),
    url("../font/Poppins-Regular.woff") format("woff"),
    url("../font/Poppins-Regular.ttf") format("truetype");
}
