<!DOCTYPE html><html lang="ko"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	
	<title>Main : Photogram</title>

	<!-- SEO meta tag -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="">
	<!-- // Open Graph -->

	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-512x512.png">
	<!-- // Icon & Favicon -->

	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/photogram.css">
	<!--<link rel="stylesheet" href="/css/project-name-sass.min.css">-->
</head>

<body data-pagestatus="new : 2023.10.24">
	<div class="wrap main_page">
		<!-- [D] LOADER -->
		<div class="loader-wrap">
			<div class="loader-logo">
				<span class="ld-mask"></span>
				<img src="../img/logo.svg" alt="Photogram">
			</div>
			<div class="loader-images">
				<div class="loader-item" style="top:-30px; left: 0">
					<span class="bg js-bg" data-bg="../img/image-17.jpg"></span>
				</div>
				<div class="loader-item" style="bottom:  -20px; left: 50px">
					<span class="bg js-bg" data-bg="../img/img-thumb-02.jpg"></span>
				</div>
				<div class="loader-item" style="top:30px; right: -120px">
					<span class="bg js-bg" data-bg="../img/img-thumb-04.jpg"></span>
				</div>
			</div>
		</div>

		<!-- //[D] LOADER -->

		<!--[D] HEADER -->
		<header>
			<div class="header-content">
				<h1 class="logo">
					<a href="#none"><img src="../img/logo.svg" alt="Photogram"></a>
				</h1>
				<div class="other-info">
					<div class="share-area">
						<button class="share-btn">Share</button>
						<ul class="share-list">
							<li><a href="#none" class="share-item">Facebook</a></li>
							<li><a href="#none" class="share-item">Pinterest</a></li>
							<li><a href="#none" class="share-item">Twitter</a></li>
							<li><a href="#none" class="share-item">LinkedIn</a></li>
						</ul>
					</div>
					<nav class="nav">
						<ul class="list-menu">
							<li>
								<a href="javascript:void(0)" class="item-menu is-active">Home</a>
								<!--depth menu -->
								<ul class="depth">
									<li><a href="01_01_main.html" class="depth-link">Carousel</a></li>
									<li><a href="01_02_carousel.html" class="depth-link">Carousel 2</a></li>
									<li><a href="01_03_slider.html" class="depth-link">Slider</a></li>
									<li><a href="01_04_image_grid.html" class="depth-link">Images Grid</a></li>
									<li><a href="01_05_video.html" class="depth-link">Video</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:void(0)" class="item-menu">Portfolio</a>
								<!--depth menu -->
								<ul class="depth">
									<li><a href="#none" class="depth-link">Horizontal Grid</a></li>
									<li><a href="#none" class="depth-link">Vertical Grid</a></li>
									<li><a href="#none" class="depth-link">Column Grid</a></li>
									<li>
										<a href="#none" class="depth-link">Single </a>
										<!-- depth child menu -->
										<ul class="depth-child">
											<li><a href="#none" class="depth-link">Style 1</a></li>
											<li><a href="#none" class="depth-link">Style 2</a></li>
											<li><a href="#none" class="depth-link">Style 3</a></li>
											<li><a href="#none" class="depth-link">Style 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="javascript:void(0)" class="item-menu">About</a></li>
							<li><a href="javascript:void(0)" class="item-menu">News</a></li>
							<li><a href="javascript:void(0)" class="item-menu">Contacts</a></li>
						</ul>
						<button type="button" class="nav-btn" aria-expanded="false"></button>
						<button type="button" class="sidebar-btn"><span class="dot"></span></button>
					</nav>
				</div>
			</div>
		</header>

		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="container">
			<!-- Aside column -->
			<div class="aside-column">
				<div class="sns-area">
					<ul class="sns-list">
						<li class="sns-item"><a href="#none" target="_blank">Fb</a></li>
						<li class="sns-item"><a href="#none" target="_blank">Ins</a></li>
						<li class="sns-item"><a href="#none" target="_blank">Pin</a></li>
						<li class="sns-item"><a href="#none" target="_blank">Tw</a></li>
					</ul>
				</div>
			</div>
			<!-- END Aside column -->

			<!-- Main content -->
			<section class="section-main">
				<!-- Swiper -->
				<div class="slider slider-carousel2">
					<div class="swiper slide-photo">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="item-slide">
									<div class="bg js-bg" data-bg="../img/image-26.jpg" data-swiper-parallax="10%"></div>
									<div class="overlay"></div>
									<div class="thumb-info center">
										<h2 class="title"><a href="#none">Dogs never bite me</a></h2>
										<p class="text-desc">Animals are my friends...and I don't eat my friends.</p>
										<a href="#none" class="btn view-btn">View Case</a>
									</div>
									<span class="category">Dog</span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item-slide">
									<div class="bg js-bg" data-bg="../img/image-24.jpg" data-swiper-parallax="10%"></div>
									<div class="overlay"></div>
									<div class="thumb-info center">
										<h2 class="title"><a href="#none">Cats are angels with fur.</a></h2>
										<p class="text-desc">Until one has loved an animal, a part of one's soul remains unawakened.</p>
										<a href="#none" class="btn view-btn">View Case</a>
									</div>
									<span class="category">Cat</span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item-slide">
									<div class="bg js-bg" data-bg="../img/image-27.jpg" data-swiper-parallax="10%"></div>
									<div class="overlay"></div>
									<div class="thumb-info center">
										<h2 class="title"><a href="#none">loving dogs.</a></h2>
										<p class="text-desc">Animals are my friends…and I don't eat my friends.</p>
										<a href="#none" class="btn view-btn">View Case</a>
									</div>
									<span class="category">Dog</span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item-slide">
									<div class="bg js-bg" data-bg="../img/image-25.jpg" data-swiper-parallax="10%"></div>
									<div class="overlay"></div>
									<div class="thumb-info center">
										<h2 class="title"><a href="#none">Happiness is a warm puppy</a></h2>
										<p class="text-desc">The ideal of calm exists in a sitting cat</p>
										<a href="#none" class="btn view-btn">View Case</a>
									</div>
									<span class="category">Cat</span>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item-slide">
									<div class="bg js-bg" data-bg="../img/image-23.jpg" data-swiper-parallax="10%"></div>
									<div class="overlay"></div>
									<div class="thumb-info center">
										<h2 class="title"><a href="#none">“Meow” means “woof” in cat.</a></h2>
										<p class="text-desc">Our perfect companions never have fewer than four feet.</p>
										<a href="#none" class="btn view-btn">View Case</a>
									</div>
									<span class="category">Cat</span>
								</div>
							</div>
						</div>
						<div class="swiper-navigation">
							<div class="swiper-button swiper-button-prev"></div>
							<div class="swiper-button swiper-button-next"></div>
						</div>
						<div class="swiper-counter">
							<span class="item-num current-num">01</span>
							<span class="item-num total-num"></span>
						</div>
					</div>
				</div>
				<!-- Aside control -->
				<div class="aside-control">
					<div class="control-progress">
						<span class="progress"></span>
					</div>
					<div class="control-pagination"></div>
					<div class="control-mouse">
						<span class="mouse"><span class="scroller"></span></span>
					</div>
				</div>
				<!-- END Aside control -->
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		<footer class="footer">
			<div class="footer-content">
				<div class="contacts">
					<div class="contacts-item">Mail: <a href="mailto:hanninguyen@gmail.com">hanninguyen@gmail.com</a></div>
					<div class="contacts-item">Phone: <a href="tel:+84 989698482">+84 989 698 482</a></div>
				</div>
				<p class="copyright">Photogram 2023. All rights reserved</p>
			</div>
		</footer>

		<!--// [D] FOOTER -->

		<!--[D] SIDEBAR -->
		<div class="sidebar-wrap">
			<div class="sidebar-content">
				<div class="content-detail">
					<div class="box">
						<div class="box-head">
							<strong class="text-title">Latest Works</strong>
						</div>
						<div class="box-content">
							<ul class="album-list">
								<li class="album-item">
									<a href="#none">
										<div class="thumb"><img src="../img/image-17.jpg" alt=""></div>
										<span class="desc">Wedding</span>
									</a>
								</li>
								<li class="album-item">
									<a href="#none">
										<div class="thumb"><img src="../img/img-thumb-05.jpg" alt=""></div>
										<span class="desc">Flowers</span>
									</a>
								</li>
								<li class="album-item">
									<a href="#none">
										<div class="thumb"><img src="../img/img-thumb-02.jpg" alt=""></div>
										<span class="desc">Travel</span>
									</a>
								</li>
								<li class="album-item">
									<a href="#none">
										<div class="thumb"><img src="../img/img-thumb-04.jpg" alt=""></div>
										<span class="desc">Cute Cat&amp;Dog</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="box">
						<div class="box-head">
							<strong class="text-title">Subscribe To Newsletter</strong>
							<p class="text-desc">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,</p>
						</div>
						<div class="box-content">
							<button type="button" class="btn email-btn">Your email</button>
							<button type="button" class="btn submit-btn">Submit</button>
						</div>
					</div>
					<div class="box box-social">
						<div class="box-head">
							<strong class="text-title">Social Links</strong>
						</div>
						<div class="box-content">
							<button type="button" class="btn fb-btn">Fb</button>
							<button type="button" class="btn ins-btn">Ins</button>
							<button type="button" class="btn pin-btn">Pin</button>
							<button type="button" class="btn tw-btn">Tw</button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="clode-btn"><i class="ico-close"></i></button>
		</div>

		<!--// [D] SIDEBAR -->
		<div class="dimmed"></div>
	</div>

	<!-- Javascript -->
	<script src="../js/libs/jquery-3.6.1.min.js"></script>
	<script src="../js/libs/swiper-bundle.min.js"></script>
	<script src="../js/libs/lightgallery.min.js"></script>
	<script src="../js/libs/TweenMax.min.js"></script>
	<script src="../js/apps/common.js"></script>
	<script src="../js/apps/main.js"></script>
	<!-- <script src="/js/project-name.min.js"></script> -->
	<!-- // Javascript -->




</body></html>