@@include('./include/head.html',{"title": "Main : Photogram", "list_title": "Main : Main"})

<body data-pagestatus="new : 2023.10.24">
	<div class="wrap main_page">
    <!-- [D] LOADER -->
    @@include('./include/loader.html')
    <!-- //[D] LOADER -->

		<!--[D] HEADER -->
    @@include('./include/header.html')
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="container">
      <!-- Aside column -->
      <div class="aside-column">
        <div class="sns-area">
          <ul class="sns-list">
            <li class="sns-item"><a href="#none" target="_blank">Fb</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Ins</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Pin</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Tw</a></li>
          </ul>
        </div>
      </div>
      <!-- END Aside column -->

      <!-- Main content -->
      <section class="section-main">
        <!-- Swiper -->
        <div class="slider slider-carousel lightgallery">
          <div class="swiper slide-photo">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="item-slide">
                  <img src="../img/image-19.jpg" alt="">
                  <a href="../img/image-19.jpg" class="box-zoom popup-image"><i class="ico-search"></i></a>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">Welcome To Our Wedding</a></h2>
                    <p class="text-desc">Two hearts in love need no words. (Marceline Desbordes-Valmore) We just need your presence on our big day.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <span class="num">01</span>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <img src="../img/image-04.jpg" alt="">
                  <a href="../img/image-04.jpg" class="box-zoom popup-image"><i class="ico-search"></i></a>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">Until We Meet Again</a></h2>
                    <p class="text-desc">In an endless garden of flowers, I will always pick you</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <span class="num">02</span>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <img src="../img/image-13.jpg" alt="">
                  <a href="../img/image-13.jpg" class="box-zoom popup-image"><i class="ico-search"></i></a>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">Stand By Me</a></h2>
                    <p class="text-desc">True love stories never have endings (Richard Bach) Join us for the beginning of ours.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <span class="num">03</span>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <img src="../img/image-16.jpg" alt="">
                  <a href="../img/image-16.jpg" class="box-zoom popup-image"><i class="ico-search"></i></a>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">A Wonderful Life</a></h2>
                    <p class="text-desc">The best thing to hold onto in life is each other.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <span class="num">04</span>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <img src="../img/image-18.jpg" alt="">
                  <a href="../img/image-18.jpg" class="box-zoom popup-image"><i class="ico-search"></i></a>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">Story Of The Day</a></h2>
                    <p class="text-desc">Once in a while, right in the middle of an ordinary life, love gives us a fairy tale.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <span class="num">04</span>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <img src="../img/image-17.jpg" alt="">
                  <a href="../img/image-17.jpg" class="box-zoom popup-image"><i class="ico-search"></i></a>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">In Love Memory</a></h2>
                    <p class="text-desc">True love is when both people think they're the lucky one. To love laughter and happily ever after</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <span class="num">04</span>
                </div>
              </div>
            </div>
            <div class="swiper-navigation">
              <div class="swiper-button swiper-button-prev"></div>
              <div class="swiper-button swiper-button-next"></div>
            </div>
          </div>
        </div>
        <!-- Aside control -->
        <div class="aside-control">
          <div class="control-carousel">
            <span class="carousel-text current">01</span>
            <span class="carousel-text total">04</span>
          </div>
          <div class="control-pagination"></div>
          <div class="control-mouse">
            <span class="mouse"><span class="scroller"></span></span>
          </div>
        </div>
        <!-- END Aside control -->
      </section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
    @@include('./include/footer.html')
		<!--// [D] FOOTER -->

    <!--[D] SIDEBAR -->
    @@include('./include/sidebar.html')
    <!--// [D] SIDEBAR -->
    <div class="dimmed"></div>
	</div>

@@include('./include/script.html')
</body>
</html>
