@@include('./include/head.html',{"title": "Main : Photogram", "list_title": "Main : Main"})

<body data-pagestatus="new : 2023.10.24">
	<div class="wrap main_page">
    <!-- [D] LOADER -->
    @@include('./include/loader.html')
    <!-- //[D] LOADER -->

		<!--[D] HEADER -->
    @@include('./include/header.html')
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="container">
      <!-- Aside column -->
      <div class="aside-column">
        <div class="sns-area">
          <ul class="sns-list">
            <li class="sns-item"><a href="#none" target="_blank">Fb</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Ins</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Pin</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Tw</a></li>
          </ul>
        </div>
      </div>
      <!-- END Aside column -->

      <!-- Main content -->
      <section class="section-main">
        <!-- Swiper -->
        <div class="slider slider-grid">
          <div class="grid-info">
            <div class="swiper grid-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../img/image-21.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-02.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-05.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-06.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-07.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-08.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-21.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-02.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-05.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-06.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-07.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-08.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper grid-bottom">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../img/image-09.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-11.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-12.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-20.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-22.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/img-thumb-05.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-09.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-11.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-12.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-20.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/image-22.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../img/img-thumb-05.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="overlay"></div>
          </div>
          <div class="center-info">
            <div class="thumb-info center">
              <h2 class="title"><a href="#none">The earth laughs in flowers</a></h2>
              <p class="text-desc">The rose is the flower and handmaiden of love—the lily, her fair associate, is the emblem of beauty and purity.</p>
              <a href="#none" class="btn view-btn">View Case</a>
            </div>
            <div class="cirle-dec"></div>
          </div>
        </div>
      </section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
    @@include('./include/footer.html')
		<!--// [D] FOOTER -->

    <!--[D] SIDEBAR -->
    @@include('./include/sidebar.html')
    <!--// [D] SIDEBAR -->
    <div class="dimmed"></div>
	</div>

@@include('./include/script.html')
</body>
</html>
