@@include('./include/head.html',{"title": "Main : Photogram", "list_title": "Main : Main"})

<body data-pagestatus="new : 2023.10.24">
	<div class="wrap main_page">
    <!-- [D] LOADER -->
    @@include('./include/loader.html')
    <!-- //[D] LOADER -->

		<!--[D] HEADER -->
    @@include('./include/header.html')
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="container">
      <!-- Aside column -->
      <div class="aside-column">
        <div class="sns-area">
          <ul class="sns-list">
            <li class="sns-item"><a href="#none" target="_blank">Fb</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Ins</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Pin</a></li>
            <li class="sns-item"><a href="#none" target="_blank">Tw</a></li>
          </ul>
        </div>
      </div>
      <!-- END Aside column -->

      <!-- Main content -->
      <section class="section-main">
        <!-- Swiper -->
        <div class="slider slider-single">
          <div class="swiper slide-photo">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="item-slide">
                  <div class="bg js-bg" data-bg="../img/image-11.jpg" data-swiper-parallax="20%"></div>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">The earth laughs in flowers</a></h2>
                    <p class="text-desc">The rose is the flower and handmaiden of love—the lily, her fair associate, is the emblem of beauty and purity.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <div class="cirle-dec"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <div class="bg js-bg" data-bg="../img/image-07.jpg" data-swiper-parallax="20%"></div>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">Life is the flower for which love is the honey.</a></h2>
                    <p class="text-desc">There are always flowers for those who want to see them.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <div class="cirle-dec"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <div class="bg js-bg" data-bg="../img/image-08.jpg" data-swiper-parallax="20%"></div>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">Perfumes are the feelings of flowers</a></h2>
                    <p class="text-desc">Without darkness, nothing comes to birth, As without light, nothing flowers.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <div class="cirle-dec"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item-slide">
                  <div class="bg js-bg" data-bg="../img/image-06.jpg" data-swiper-parallax="20%"></div>
                  <div class="overlay"></div>
                  <div class="thumb-info">
                    <h2 class="title"><a href="#none">Flowers don't tell, they show.</a></h2>
                    <p class="text-desc">If you tend to a flower, it will bloom, no matter how many weeds surround it.</p>
                    <a href="#none" class="btn view-btn">View Case</a>
                  </div>
                  <div class="cirle-dec"></div>
                </div>
              </div>
            </div>
            <div class="swiper-navigation">
              <div class="swiper-button swiper-button-prev"></div>
              <div class="swiper-button swiper-button-next"></div>
            </div>
            <div class="swiper-counter">
              <span class="item-num current-num">01</span>
              <span class="item-num total-num"></span>
            </div>
          </div>
        </div>
        <!-- Aside control -->
        <div class="aside-control">
          <div class="control-progress">
            <span class="progress"></span>
          </div>
          <div class="control-pagination"></div>
          <div class="control-mouse">
            <span class="mouse"><span class="scroller"></span></span>
          </div>
        </div>
        <!-- END Aside control -->
      </section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
    @@include('./include/footer.html')
		<!--// [D] FOOTER -->

    <!--[D] SIDEBAR -->
    @@include('./include/sidebar.html')
    <!--// [D] SIDEBAR -->
    <div class="dimmed"></div>
	</div>

@@include('./include/script.html')
</body>
</html>
