<header>
  <div class="header-content">
    <h1 class="logo">
      <a href="#none"><img src="../img/logo.svg" alt="Photogram"></a>
    </h1>
    <div class="other-info">
      <div class="share-area">
        <button class="share-btn">Share</button>
        <ul class="share-list">
          <li><a href="#none" class="share-item">Facebook</a></li>
          <li><a href="#none" class="share-item">Pinterest</a></li>
          <li><a href="#none" class="share-item">Twitter</a></li>
          <li><a href="#none" class="share-item">LinkedIn</a></li>
        </ul>
      </div>
      <nav class="nav">
        <ul class="list-menu">
          <li>
            <a href="javascript:void(0)" class="item-menu is-active">Home</a>
            <!--depth menu -->
            <ul class="depth">
              <li><a href="01_01_main.html" class="depth-link">Carousel</a></li>
              <li><a href="#none" class="depth-link">Carousel 2</a></li>
              <li><a href="01_03_slider.html" class="depth-link">Slider</a></li>
              <li><a href="#none" class="depth-link">Images Grid</a></li>
              <li><a href="#none" class="depth-link">Video</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" class="item-menu">Portfolio</a>
            <!--depth menu -->
            <ul class="depth">
              <li><a href="#none" class="depth-link">Horizontal Grid</a></li>
              <li><a href="#none" class="depth-link">Vertical Grid</a></li>
              <li><a href="#none" class="depth-link">Column Grid</a></li>
              <li>
                  <a href="#none" class="depth-link">Single </a>
                  <!-- depth child menu -->
                  <ul class="depth-child">
                    <li><a href="#none" class="depth-link">Style 1</a></li>
                    <li><a href="#none" class="depth-link">Style 2</a></li>
                    <li><a href="#none" class="depth-link">Style 3</a></li>
                    <li><a href="#none" class="depth-link">Style 4</a></li>
                  </ul>
              </li>
            </ul>
          </li>
          <li><a href="javascript:void(0)" class="item-menu">About</a></li>
          <li><a href="javascript:void(0)" class="item-menu">News</a></li>
          <li><a href="javascript:void(0)" class="item-menu">Contacts</a></li>
        </ul>
        <button type="button" class="nav-btn" aria-expanded="false"></button>
        <button type="button" class="sidebar-btn"><span class="dot"></span></button>
      </nav>
    </div>
  </div>
</header>
