<div class="loader-wrap">
  <div class="loader-logo">
    <span class="ld-mask"></span>
    <img src="../img/logo.svg" alt="Photogram">
  </div>
  <div class="loader-images">
    <div class="loader-item" style="top:-30px; left: 0">
      <span class="bg js-bg" data-bg="../img/image-17.jpg"></span>
    </div>
    <div class="loader-item" style="bottom:  -20px; left: 50px">
      <span class="bg js-bg" data-bg="../img/img-thumb-02.jpg"></span>
    </div>
    <div class="loader-item" style="top:30px; right: -120px">
      <span class="bg js-bg" data-bg="../img/img-thumb-04.jpg"></span>
    </div>
  </div>
</div>
