<div class="sidebar-wrap">
  <div class="sidebar-content">
    <div class="content-detail">
      <div class="box">
        <div class="box-head">
          <strong class="text-title">Latest Works</strong>
        </div>
        <div class="box-content">
          <ul class="album-list">
            <li class="album-item">
              <a href="#none">
                <div class="thumb"><img src="../img/image-17.jpg" alt=""></div>
                <span class="desc">Wedding</span>
              </a>
            </li>
            <li class="album-item">
              <a href="#none">
                <div class="thumb"><img src="../img/img-thumb-05.jpg" alt=""></div>
                <span class="desc">Flowers</span>
              </a>
            </li>
            <li class="album-item">
              <a href="#none">
                <div class="thumb"><img src="../img/img-thumb-02.jpg" alt=""></div>
                <span class="desc">Travel</span>
              </a>
            </li>
            <li class="album-item">
              <a href="#none">
                <div class="thumb"><img src="../img/img-thumb-04.jpg" alt=""></div>
                <span class="desc">Cute Cat&Dog</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-head">
          <strong class="text-title">Subscribe To Newsletter</strong>
          <p class="text-desc">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,</p>
        </div>
        <div class="box-content">
          <button type="button" class="btn email-btn">Your email</button>
          <button type="button" class="btn submit-btn">Submit</button>
        </div>
      </div>
      <div class="box box-social">
        <div class="box-head">
          <strong class="text-title">Social Links</strong>
        </div>
        <div class="box-content">
          <button type="button" class="btn fb-btn">Fb</button>
          <button type="button" class="btn ins-btn">Ins</button>
          <button type="button" class="btn pin-btn">Pin</button>
          <button type="button" class="btn tw-btn">Tw</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="clode-btn"><i class="ico-close"></i></button>
</div>
